---
import { Icon } from 'astro-icon/components';

import Skill from '@/components/Skill.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Alex Zhukov">
  <main class="mx-auto flex w-full max-w-3xl flex-1 flex-col px-8 py-16">
    <div
      class="flex flex-col duration-500 animate-in fade-in slide-in-from-bottom-10"
    >
      <h1 class="mb-8 text-3xl font-medium tracking-tighter">
        hey, I'm alex 👋
      </h1>

      <div class="flex flex-col gap-4">
        <div class="prose prose-neutral dark:prose-invert">
          <p>
            I'm a frontend engineer with 10+ years of experience, passionate
            about building robust web applications.
          </p>
          <p>
            I enjoy working with <Skill
              href="https://react.dev/"
              icon="devicon:react">React</Skill
            >, <Skill href="https://nextjs.org/" icon="devicon:nextjs"
              >Next.js</Skill
            >, <Skill href="https://astro.build/" icon="devicon:astro"
              >Astro</Skill
            >, <Skill href="https://tailwindcss.com/" icon="devicon:tailwindcss"
              >Tailwind CSS</Skill
            >, and <Skill
              href="https://www.typescriptlang.org/"
              icon="devicon:typescript">TypeScript</Skill
            >.
          </p>
          <p>
            If you want to chat, feel free to reach out to me on socials below.
          </p>
        </div>

        <div class="flex items-center gap-4">
          <a
            href="https://github.com/lexzhukov"
            target="_blank"
            rel="noreferrer"
          >
            <Icon
              name="simple-icons:github"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a
            href="https://www.linkedin.com/in/lexzhukov"
            target="_blank"
            rel="noreferrer"
          >
            <Icon
              name="simple-icons:linkedin"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a href="https://x.com/lexzhukov" target="_blank" rel="noreferrer">
            <Icon
              name="simple-icons:x"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a href="mailto:me@lexzhukov.com" target="_blank" rel="noreferrer">
            <Icon
              name="heroicons:envelope-solid"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
