---
import { Icon } from 'astro-icon/components';

import Skill from '@/components/Skill.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Alex Zhukov | lexzhukov.com">
  <main class="mx-auto flex w-full max-w-3xl flex-1 flex-col px-8 py-16">
    <div
      class="flex flex-col gap-8 duration-500 animate-in fade-in slide-in-from-bottom-10"
    >
      <div class="flex flex-col gap-4">
        <h1 class="text-2xl font-semibold tracking-tighter">
          Hey, I'm Alex 👋
        </h1>

        <p class="prose prose-neutral dark:prose-invert">
          With over a decade of experience as a frontend engineer, I specialize
          in crafting robust and intuitive web applications that push the
          boundaries of user experience.
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-semibold tracking-tighter">My Expertise</h2>

        <p class="prose prose-neutral dark:prose-invert">
          <Skill href="https://react.dev/" icon="devicon:react">React</Skill>
          <Skill href="https://nextjs.org/" icon="devicon:nextjs">
            Next.js
          </Skill>
          <Skill href="https://angular.dev/" icon="devicon:angular">
            Angular
          </Skill>
          <Skill href="https://nestjs.com/" icon="devicon:nestjs">
            Nest.js
          </Skill>
          <Skill href="https://astro.build/" icon="devicon:astro">
            Astro
          </Skill>
          <Skill href="https://tailwindcss.com/" icon="devicon:tailwindcss">
            Tailwind CSS
          </Skill>
          <Skill
            href="https://www.typescriptlang.org/"
            icon="devicon:typescript"
          >
            TypeScript
          </Skill>
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-semibold tracking-tighter">My Approach</h2>

        <p class="prose prose-neutral dark:prose-invert">
          I believe in using the right tool for the job. While I have my
          preferred tech stack, I'm always eager to explore new technologies
          that can provide the optimal solution for each unique project. This
          flexibility allows me to deliver tailored, efficient, and innovative
          results consistently.
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-semibold tracking-tighter">Let's Connect</h2>

        <p class="prose prose-neutral dark:prose-invert">
          I'm always open to discussing new projects, creative ideas, or
          opportunities to be part of your visions. Feel free to reach out
          through any of the social media channels below.
        </p>

        <div class="flex items-center gap-4">
          <a
            href="https://github.com/lexzhukov"
            target="_blank"
            rel="noreferrer"
            aria-label="GitHub"
          >
            <Icon
              name="simple-icons:github"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a
            href="https://www.linkedin.com/in/lexzhukov"
            target="_blank"
            rel="noreferrer"
            aria-label="LinkedIn"
          >
            <Icon
              name="simple-icons:linkedin"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a
            href="https://x.com/lexzhukov"
            target="_blank"
            rel="noreferrer"
            aria-label="X"
          >
            <Icon
              name="simple-icons:x"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a
            href="mailto:me@lexzhukov.com"
            target="_blank"
            rel="noreferrer"
            aria-label="Email"
          >
            <Icon
              name="heroicons:envelope-solid"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
