---
import { Icon } from 'astro-icon/components';

import Layout from '@/layouts/Layout.astro';
---

<Layout title="Alex Zhukov">
  <main class="mx-auto flex w-full max-w-3xl flex-1 flex-col px-8 py-16">
    <div class="flex flex-col gap-8">
      <div
        class="flex flex-col gap-4 duration-500 animate-in fade-in slide-in-from-bottom-10"
      >
        <h1 class="text-3xl font-bold tracking-tighter">hey, I'm Alex 👋</h1>

        <p class="prose prose-neutral">
          I'm a frontend engineer based in Spain, passionate about building
          smooth and efficient web applications using modern technologies. If
          you want to chat about anything, feel free to reach out to me on
          socials below.
        </p>

        <div class="flex items-center gap-4">
          <a
            href="https://github.com/lexzhukov"
            target="_blank"
            rel="noreferrer"
          >
            <Icon
              name="simple-icons:github"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a
            href="https://www.linkedin.com/in/lexzhukov"
            target="_blank"
            rel="noreferrer"
          >
            <Icon
              name="simple-icons:linkedin"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a href="https://x.com/lexzhukov" target="_blank" rel="noreferrer">
            <Icon
              name="simple-icons:x"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>

          <a href="mailto:me@lexzhukov.com" target="_blank" rel="noreferrer">
            <Icon
              name="heroicons:envelope-solid"
              class="h-6 w-6 transition-opacity hover:opacity-75"
            />
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
