---
import ThemeToggle from './react/ThemeToggle';
---

<header
  class="sticky top-0 z-50 border-b border-black/20 backdrop-blur duration-500 animate-in fade-in slide-in-from-top-10 dark:border-white/20"
>
  <nav
    class="mx-auto flex w-full max-w-3xl items-center justify-between px-8 py-4 lg:py-6"
  >
    <div class="flex items-center gap-4">
      <a href="/" class="group align-middle text-xl font-semibold">
        home
        <span
          class="block h-0.5 max-w-0 bg-black transition-all group-hover:max-w-full dark:bg-white"
        ></span>
      </a>
    </div>
    <ThemeToggle client:load />
  </nav>
</header>
