---
import { Icon } from 'astro-icon/components';
---

<header
  class="sticky top-0 z-50 border-b border-slate-900/10 bg-white/80 backdrop-blur duration-500 animate-in fade-in slide-in-from-top-10"
>
  <nav
    class="mx-auto flex w-full max-w-3xl items-center justify-between px-8 py-4 lg:py-6"
  >
    <div class="flex items-center gap-4">
      <a href="/" class="group align-middle text-xl font-semibold text-black">
        home
        <span
          class="block h-0.5 max-w-0 bg-black transition-all group-hover:max-w-full"
        ></span>
      </a>
    </div>
    <!-- <button>
      <Icon name="heroicons:sun" class="h-6 w-6" />
      <Icon name="heroicons:moon" class="h-6 w-6" />
      <Icon name="heroicons:computer-desktop" class="h-6 w-6" />
    </button> -->
  </nav>
</header>
